numpy~=1.24.1
typing~=3.7.4.3
scikit-learn~=1.4.1.post1
librosa~=0.10.2.post1
matplotlib~=3.8.3
opencv-python~=4.10.0.82
pydub~=0.25.1
pandas~=2.2.1
torch~=2.2.2+cu118
torchvision~=0.17.2+cu118
torchsummary~=1.5.1
