numpy~=1.24.1
typing~=3.7.4.3
scikit-learn~=1.3.2
librosa~=0.10.2.post1
matplotlib~=3.7.5
opencv-python~=4.10.0.82
pydub~=0.25.1
pandas~=2.0.3
torch~=2.3.1+cu118
torchvision~=0.18.1+cu118
torchsummary~=1.5.1
scipy
pyqt5
pyqtgraph
sounddevice~=0.4.7